.input-row{
	display:inline-block;
	position:relative;
	width:380px;
	margin:10px auto;

	.icon-ct{
		position:absolute;
		left:10px;
		top:9px;
		font-size:20px;
		color:@brand-primary;
	}
}

.label{
	font-size:1.8em;
}

.input{
	width:380px;
	border:1px solid @gray;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	height:38px;
	line-height:38px;
	-wenbkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-size:1.8em;
	font-family:'Roboto Thin';

	&.icon-inside{
		padding-left:40px;
	}

	&.number{
		text-align:right;
		padding-left:60px;
		padding-right:10px;
	}
}

.iradio_minimal-blue{
	margin-right:10px;
	position:relative;
	top:-5px;
}

.half{
	width:50%;
	float:left;
}

.btn{
	height:45px;
	line-height:40px;
}

.btn-primary{
	background-color:@brand-primary;
	color:white;
	font-weight:bold;
}